body::-webkit-scrollbar {
    width: 12px;               /* ширина всей полосы прокрутки */
  }
  
  body::-webkit-scrollbar-track {
    background: black;        /* цвет зоны отслеживания */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: white;    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 3px solid blue;  /* отступ вокруг бегунка */
  }
.main{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.main_block{
    margin-bottom: 30px;
}
.image{
    position: relative;
    margin: 50px 0 0;
    height: 600px;
}
.circle{
    overflow: hidden;
    text-align: center;
    object-fit: cover;
    position: relative;
    top: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #fff;
    border: 50px solid blue;
    box-shadow: 0 0 70px rgb(0, 89, 255);
    border-radius: 50%;
    z-index: -2;
}
.circle img{
    position: absolute;
    max-width: 100%;
    z-index: -3;
}
.circle2{
    position: relative;
    align-self: center;
    width: 420px;
    height: 420px;
    border: none;
    opacity: 0.2;
    z-index: 5;
}
.circle_info{
    position: absolute;
    text-align: center;
    padding-top: 10px;
    right: 120px;
    top: 2px;
    width: 55px;
    height: 55px;
    background-color: #222;
    border-radius: 100%;
    color: blue;
    font-size: 25px;
    font-weight: 700;
}
.circle_info1{
    position: absolute;
    top: 40px;
    right: 100px;
}
.circle_info2{
    position: absolute;
    top: 60px;
    right: 400px;
}
.circle_info3{
    position: absolute;
    top: 220px;
    right: 490px;
}
.circle_info4{
    position: absolute;
    top: 380px;
    right: 460px;
}
/* text_block */
.text{
    width: 40%;
    margin: auto;
    color: #333;
}
.text h1{
    font-size: 90px;
}
.text h2{
    padding-left: 10px;
    font-size: 80px;
}
.text h5{
    font-size: 30px;
    color: blue;
}
.text h6{
    margin-top: 4%;
    font-size: 30px;
}
.text p {
    margin-top: 10px;
}
/* note */
.comments_block{
    max-height: 200px;
    overflow: auto;
}
.comments_block::-webkit-scrollbar{
    width: 12px;
}
.comments_block::-webkit-scrollbar-track{
    color: #222;
}
.comments_block::-webkit-scrollbar-thumb {
    background-color: blue;    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 3px solid white;  /* отступ вокруг бегунка */
  }
.note{
    margin-top: 40px;
}
.note p{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}
.note div{
    background: #fff;
    border-radius: 5px;
    font-size: 24px;
    word-break: break-all;
    padding: 10px 5px 10px 15px;
    color: blue;
    margin-top: 10px;
}
.notes{
    width: 100%;
}
.notes input{
    width: 100%;
    height: 40px;
}
.notes button{
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    transition: 1s;
}
.notes button:hover{
    background-color: blue;
    color: #fff;
}