body{
    background-color: #f3f3f5;
    font-family: 'Roboto', sans-serif;
}
button{
    cursor: pointer;
}
.into_text{
    color: rgb(18,50,147);
    text-align: center;
    font-weight: 900;
    width:min-content;
    height: 150px;
    display: flex;
    margin: 4% auto 0;
}
/* section_second */
.second_section{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    height: 400px;
}
.second_section div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    max-height: 250px;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    color: #333;
}
.second_section>div>div{
    margin: 20px auto 0;
    border: 2px solid blue;
    border-radius: 10px;
    line-height: 20px;
    background-color: #222;
    color: #333;
    cursor: pointer;
}
/* third_section/section_about */
.section_about{
    width: 90%;
    color: #333;
    margin: 0 auto;
}
/* fours_section/register */
.section_registration{
    text-align: center;
    margin: 30px 0;
}
.register{
    width: 100px;
    border-radius: 100px;
    border: 2px solid blue;
    cursor: pointer;
}
/* form */
form{
    width: 300px;
    margin: 40px auto 0;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.input_text{
    width: 70%;
    margin: 10px auto;
    border-radius: 4px;
    border: 1.8px solid blue;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
    line-height: 30px;
}
form h1{
    font-size: 30px;
    padding: 20px;
}
form button{
    width: 80%;
    margin:30px auto;
    border: 1px solid blue;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
    background-color: #fff;
    transition: 1.2s;
}
form button:hover{
    background-color: blue;
    color: #fff;
}
.messenger{
    display: flex;
    width: 70%;
    margin: 20px auto 40px;
    justify-content: space-between;
}
.messenger div{
    display: flex;
    text-align: center;
    align-items: center;
}
.messenger div img{
    margin-right: 8px;
}
