.cardsBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.maincards {
  margin-top: 20px;
    font-family: tahoma;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.onecard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: white;
  text-align: center;
  overflow: hidden;
  position: relative;
  width: 400px;
  border-radius: 10%;
  border: solid rgb(18, 50, 147);
  height: 220px;
}
.onecard:hover .studentImage::before {
    height: 100%;
}
.studentName {
font-size: 25px;
}
.onecard .studentImage {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}
.onecard .studentImage::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(18, 50, 147);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.onecard .studentImage img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}
.onecard:hover .studentImage img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.studentInfo {
    
}
.cardsBody input {
  display: flex;
  align-items: center;
  width: 560px;
}
.flex{
  display: flex;
  flex-direction: column;
}
.onecard .studentpage {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(18, 50, 147);
  position: absolute;
  bottom: -200px;
  left: 0;
  transition: all 0.5s ease 0s;
}
.onecard:hover .studentpage {
  bottom: 0;
}
.onecard:hover .studentpage li {
  display: inline-block;
}
.onecard:hover .studentpage a {
  display: block;
  padding: 5px;
  font-size: 18px;
  color: white;
  transition: all 0.2s ease 0s;
  text-decoration: none;
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
}
.onecard:hover .studentpage li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}
.inputContain{
  position: relative;
}
input{
  margin-top: 30px;
  height: 3rem;
  width: 40rem;
  border: 3px solid black;
  border-radius: 2rem;
}
.placeholderText{
  position: absolute; 
  top: 0;
  bottom: 4px;
  left: 0;
  right: 0;
  border: 3px solid transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.text{
  font-size: 1.1rem;
  padding: 0 0.5rem;
  background-color: transparent;
  color: black;
}

input, .placeholderText{
  font-size: 1.1rem;
  padding: 0 1.2rem;
}
input:focus{
  outline: none;
  border-color: rgb(18, 50, 147);
}
input:focus + .placeholderText .text{
  background-color: white;
  font-size: 1.1rem;
  color: black;
  transform: translate(0, -170%);
  border-color:rgb(18, 50, 147);
  color: rgb(18, 50, 147);
  font-weight: 700;
}
.text{
  transform: translate(0);
  transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
}
input:focus + .placeholderText .text, :not(input[value=""]) + .placeholderText .text{
  background-color: white;
  font-size: 1.1rem;
  color: black;
  transform: translate(0, -170%);
}

input:focus + .placeholderText .text{
  border-color: rgb(18, 50, 147);
  color: rgb(18, 50, 147);
}
li {
  float: left;
}

.dropMenu a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropMenu a:hover, .dropMenu:hover .dropbtn {
  background-color: rgb(18, 50, 147);
}

.mainDrop {
  width: 100%;
  display: flex;
  justify-items: left;
  justify-content: flex-start;

}

.dropContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropContent a:hover {
  background-color: rgb(18, 50, 147);
  color: white;
}

.dropMenu:hover .dropContent {
  display: block;
}