* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    border-radius: 50%;
    width: 60px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.burger_btn_container {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.burger_btn {
    font-size: 3em;
    font-weight: 700;
    float: right;
    color: #2046c4;
    cursor: pointer;
    transition: all 3s;
    -webkit-transition: all 0.25s;
}
.burger_btn:hover {
    transform: rotate(-90deg);
}  

/* ======================================================================================MENU======================================================================================== */

.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: 0;
    transform: translateX(110%);
    transition: 3s;
}
.menu_active {
    position: absolute;
    top: 0;
    transform: translateX(0);
    transition: 2s;
    z-index: 5;
}
.blur {
    width: 100vw;
    height: 200vh;
    position: absolute;
}
.menu_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    margin-right: -10px;
    width: 20%;
    height: 100%;
    background-color: rgb(50, 50, 204);
    border-radius: 5px;
    transition: all .2s;
}

.intocode_img {
    width: 25px;
    height: 25px;
}
.img_title_block {
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}

.menu_title {
    padding-top: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    border-bottom: 1px double #fff;
    transition: 0.5s;
}
.menu_title:hover {
    font-size: 35px;
    letter-spacing: 3px;
    border-bottom: 3px double #fff;
}
.menu_list {
    display: flex;
    flex-direction: column;
}
.menu_item {
   margin-top: 10px;
}

.menu_link:hover {
    border-bottom: 2px double #fff;
    color: #fff;
    text-align: center;
    font-size: 1.5em
}
.menu_link {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.exit {
    margin-top: 8px;
    margin-right: 230px;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;
}
.exit:hover {
    color: #fff;
}