* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.burger_btn {
    margin-top: 20px;
    margin-right: 30px;
    width: 35px;
    height: 35px;
    float: right;
    cursor: pointer;
}

/* .burger_btn_container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
} */


/* ======================================================================================MENU======================================================================================== */


.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    right: 0;
    transform: translateX(110%);
    transition: all .3s;

}

.menu_active {
    transform: translateX(0);
   
}

.blur {
    width: 100vw;
    height: 200vh;
    backdrop-filter: blur(2px);
    position: absolute;
    
}

.menu_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    margin-right: -10px;
    width: 20%;
    height: 100%;
    background-color: #000;
    border-radius: 10px;
    transition: all .4s;
}

.menu_title {
    padding-top: 10px;
    text-align: center;
    color: #fff;
    border-bottom: 1px double #fff;
}

.menu_item {
    margin-top: 5px;
    text-align: center;
}

.menu_link {
    color: #fff;
}