  .general {
    line-height: 1.5;
    min-height: 100%;
    border-top: 1px dashed blue;
    color: rgb(18, 50, 147);
  }
  .subGeneral {
    width: 50%;
    margin: auto;
  }

  .ima {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dno {
    display: flex;
    justify-content: center;
  }
.general {
  line-height: 1;
  padding: 5px;
}

.block2 {
  margin-bottom: 5px;
}
.ima {
  background-color: #fff;
  border-radius: 30px;
  padding: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.ima > a {
  max-height: 35px;
}
.dno {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.dno > p {
  font-size: 13px;
  font-weight: 300;
}